<app-header
  [title]="title">
</app-header>

<button  class="back-button">
</button>
<div class="team-details">
  <div>
    <app-list
      [teams]="teams"
      [dataHasLoaded]="true">
    </app-list>
  </div>
  <div class="team-details-info">
    <div class="team-details-info-single-item">
      <h4>Team description</h4>
      <p>{{team.strDescriptionEN}}</p>
    </div>
    <div class="team-details-info-single-item">
      <h4>Stadium description</h4>
      <p>{{team.strStadiumDescription}}</p>
    </div>
    <div class="team-details-info-multiple-items">
      <div class="team-details-info-column-item">
        <h4>Stadium capacity</h4>
        <p>{{team.intStadiumCapacity}}</p>
      </div>
      <div class="team-details-info-column-item">
        <h4>Est.</h4>
        <p>{{team.intFormedYear}}</p>
      </div>
    </div>
  </div>
</div>
