.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  padding: 15px 0;
  background-color: #e0e0e0;

  border: 1px solid #ccc;

  input {
    padding: 5px;
  }
}

.sub-header {
  display: flex;
  flex-direction: column;
  justify-content: center;

  span {
    align-self: center;
    text-align: center;

    font-size: 1.3em;

    padding: 10px 0;
  }

  .actions-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    padding: 10px 0 20px 0;

    input {
      border: none;
      border-bottom: 2px solid #e0e0e0;
      color: #4a4a4a;


      &:focus {
        border-bottom: 2px solid #4a4a4a;
      }

      &:focus-visible {
        outline: none;
      }
    }
  }
}
